@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600;700;800&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  
}
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay{
  height: 100vh;
  position: fixed;
  display: flex;
  width: 100vh;
  top: 0;
  background-color: rgba(49, 48, 49, 0.566);
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid rgb(139 92 246); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 200ms linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;
}

input{
  background-color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-title-text{
  color: var(--Secondary, #35383F);
font-family: Quicksand;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.secondary-text{
  color: var(--Secondary, #35383F);
font-family: Quicksand;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 120% */
}

.label-text{
  color: var(--Body-Text---Dark, #5D6065);
font-family: Quicksand;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.text-main{
  color: var(--Body-Text---Light, #86888C);
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.input-active{
  border-radius: 5px;
border: 0.75px solid rgba(134, 136, 140, 0.50);
background: rgba(216, 216, 216, 0.00);
color: var(--Body-Text---Light, #86888C);
font-family: Quicksand;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 27px 21px
}

.input-disable{
 
  border-radius: 5px;
  border: 0.75px solid rgba(134, 136, 140, 0.50);
  background: rgba(216, 216, 216, 0.30);
  color: var(--Body-Text---Light, #86888C);
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 27px 21px
  }
  


@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn-blue {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}