
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay{
  height: 100vh;
  position: fixed;
  display: flex;
  width: 100vh;
  top: 0;
  background-color: rgba(49, 48, 49, 0.566);
  left: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid rgb(139 92 246); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




@tailwind base;
@tailwind components;
@tailwind utilities;